doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title
        | Obligatorisk Opgave 3 - Fitness
    link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-ui-router/release/angular-ui-router.min.js")
    script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
    
    script(src="app.js")
    script(src="controllers/homeController.js")
    script(src="controllers/loginController.js")
    script(src="controllers/registerController.js")
    script(src="controllers/workoutController.js")

  body(ng-app="OblOpgave3")
    //Navigation
    div(class="col-lg-1")
    div(class="col-lg-10")
        nav(class="navbar navbar-inverse", role="navigation")
            div(class="col-lg-8")
                div(class="navbar-header")
                    a(class="navbar-brand", ui-sref="#")
                        | Obligatorisk Opgave 3

                ul(class="nav navbar-nav")
                    li
                        a(ui-sref="home")
                            | Home
                    li
                        a(ui-sref="workout")
                            | Workouts
            div(class="col-lg-4")
                ul(class="nav navbar-nav", style="float: right")
                    li
                        a(ui-sref="login")
                            | Login
                    li
                        a(ui-sref="register")
                            | Register

                    