
@{
    ViewBag.Title = "ComponentTable";
}

<h2>ComponentTable</h2>
<div class="panel panel-default">
    <div class="panel-heading">Component Table</div>

    <table class="table">
        <thead>
        <tr>
            <td>
                <label class="control-label">ID</label>
            </td>
            <td>
                <label class="control-label">First Item</label>
            </td>
            <td>
                <label class="control-label">Secound Item</label>
            </td>
            <td>
                <label class="control-label">Third Item</label>
            </td>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>item.</td>
                <td>item.</td>
                <td>item.</td>
            </tr>
        }
        </tbody>
    </table>
</div>
