
@{
    ViewBag.Title = "ComponentTable";
}

<h2>ComponentTable</h2>
<div class="panel panel-default">
    <div class="panel-heading">Component Table</div>

    <table class="table">
        <thead>
        <tr>
            <td>
                <label class="control-label">#</label>
            </td>
            <td>
                <label class="control-label">First Item</label>
            </td>
            <td>
                <label class="control-label">Secound Item</label>
            </td>
            <td>
                <label class="control-label">Third Item</label>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>One</td>
            <td>Two</td>
            <td>Three</td>
        </tr>
        <tr>
            <td>One</td>
            <td>Two</td>
            <td>Three</td>
        </tr>
        <tr>
            <td>One</td>
            <td>Two</td>
            <td>Three</td>
        </tr>
        </tbody>
    </table>
</div>
