
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-lg-12">

    <div class="btn-group col-lg-12" role="group">
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Tabel</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Udlån komponent</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Aflever komponent</button>
            </div>
        </div>
    </div>
    <div class="btn-group col-lg-12" role="group">
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Tilføj komponent</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Ændre komponent</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Fjern komponent</button>
            </div>
        </div>
    </div>

</div>


